html {
	/*Need to specify; else body assumes entire page height is 20px*/
	margin: 0px;
	width:  100%;
	height: 100%;
	background-color: #000000
}
body {
	/*Make sure body fills entire page*/
	margin: 0px;
	width:  100%;
	height: 100%;
	background-color: #000000;
}
canvas {
	/*Make sure canvas mostly fills container*/
	margin: 0px;
	width:  95%;
	height: 95%;
	background-color: #000000
}
.container {
	/*Make sure container mostly fill body and has some space*/
	margin: 2px;
	width:  95%;
	height: 95%;
	background-color: #000000;
}
